.centrat{
    margin: 5%;
}

input {
    border: 1px solid #4195fc;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #4195fc;

}

.inputWrong{
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: 0px 0px 4px red;
}


.card{

    display: inline;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 30px;
    min-width: 200px;
    position: relative;
    margin: 3px;
}

.card:before{
    content: "*";
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 250%;
}

.redCard{
    background-color: red;
}

.redCard:before{
    color: red;
}

.blueCard{
    background-color: blue;
}

.blueCard:before{
    content: "";
    color:blue;
}

.matematica{
    display:none;
}

.informatica{
    display:none;
}

.cti{
    display:none;
}